<!-- Header -->
<div class="header">
</div>

<!-- Top actions -->
<div class="top-actions">
  <button class="add-btn" 
  routerLink="/add-project"
     *ngIf="role === 'admin'">
    Add New Project
  </button>

  <button 
  class="csv-btn"
  *ngIf="role === 'admin'"
  (click)="exportProjectCSV()">
  Export CSV
</button>

  <div class="filters">

    <!-- Search -->
    <input
      type="text"
      placeholder="Search by project name"
      [(ngModel)]="searchText"
      (input)="applyFilter()"/>

    <!-- Date -->
    <input
      type="date"
      [(ngModel)]="selectedDate"
      (change)="applyFilter()"/>

    <!-- Category -->
    <input
      type="text"
      placeholder="Search by category"
      [(ngModel)]="selectedCategory"
      (input)="applyFilter()"
    />

    <!-- Sort -->
    <select [(ngModel)]="sortOption" (change)="applyFilter()">
      <option value="">Sort By Name / Category</option>
      <option value="name-asc">Name (A - Z)</option>
      <option value="name-desc">Name (Z - A)</option>
      <option value="category-asc">Category (A - Z)</option>
      <option value="category-desc">Category (Z - A)</option>
    </select>

  </div>
</div>
<div *ngIf="isLoading" class="loader">
  Fetching Project Data...
</div>
<!-- Table -->
<div class="table-card">
  <h3>Projects List</h3>

  <div class="table-scroll">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- SNO -->
      <ng-container matColumnDef="sno">
        <th mat-header-cell *matHeaderCellDef> S.No </th>
        <td mat-cell *matCellDef="let p; let i = index">
          {{ i + 1 }}
        </td>
      </ng-container>

      <!-- Name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Project Name </th>
        <td mat-cell *matCellDef="let p"> {{ p.name }} </td>
      </ng-container>

      <!-- Description -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let p"> {{ p.description }} </td>
      </ng-container>

      <!-- Category -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let p"> {{ p.category }} </td>
      </ng-container>

      <!-- Manager -->
      <ng-container matColumnDef="manager">
        <th mat-header-cell *matHeaderCellDef> Manager </th>
        <td mat-cell *matCellDef="let p">

          <span *ngFor="let m of p.manager">
            {{ m.name }}
          </span>

        </td>
      </ng-container>

      <!-- Employees  -->
      <ng-container matColumnDef="employees">
        <th mat-header-cell *matHeaderCellDef> Employees </th>
        <td mat-cell *matCellDef="let p">

          <span *ngFor="let e of p.employees; let last = last">
            {{ e.name }}<span *ngIf="!last">, </span>
          </span>

        </td>
      </ng-container>

      <!-- Date -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date & Time </th>
        <td mat-cell *matCellDef="let p">
          {{ p.createdAt | date:'dd/MM/yyyy, hh:mm:ss a' }}
        </td>
      </ng-container>

      <!-- Status -->
<ng-container matColumnDef="status">
  <th mat-header-cell *matHeaderCellDef> Status </th>
  <td mat-cell *matCellDef="let p">
    {{ p.status }}
  </td>
</ng-container>


      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let p">

  <!-- VIEW -->
  <button
    mat-icon-button
    color="primary"
    matTooltip="View"
    (click)="viewProject(p)">
    <mat-icon>visibility</mat-icon>
  </button>

  <!-- EDIT -->
  <button
  *ngIf="role === 'admin'"
    mat-icon-button
    color="accent"
    matTooltip="Edit"
    (click)="editProject(p)">
    <mat-icon>edit</mat-icon>
  </button>

  <!-- DELETE -->
  <button
    *ngIf="role === 'admin'"
    mat-icon-button
    color="warn"
    matTooltip="Delete"
    (click)="deleteProject(p._id)">
    <mat-icon>delete</mat-icon>
  </button>

</td>
      </ng-container>

      <!-- Header & Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- No Data -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="8" style="text-align:center; padding:20px;">
          No Projects Found!
        </td>
      </tr>

    </table>
  </div>
</div>

<!-- Pagination -->
<mat-paginator
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 50]"
  showFirstLastButtons>
</mat-paginator>

<!-- POPUP -->
<div class="popup-overlay" *ngIf="showPopup">

 <div class="popup">
  <!-- HEADER -->
  <div class="popup-header">
    <span>Project Details</span>

    <button class="close-btn" (click)="closePopup()">X</button>
  </div>

  <!-- BODY -->
  <div class="popup-body">

    <p><b>Name:</b> {{ selectedProject?.name }}</p>
    <p><b>Description:</b> {{ selectedProject?.description }}</p>
    <p><b>Category:</b> {{ selectedProject?.category }}</p>

    <!-- Manager  -->
    <p>
      <b>Manager:</b>
      <span *ngFor="let m of selectedProject?.manager">
        {{ m.name }}
      </span>
    </p>

    <!-- Employees  -->
    <p>
      <b>Employees:</b>
      <span *ngFor="let e of selectedProject?.employees; let last = last">
        {{ e.name }}<span *ngIf="!last">, </span>
      </span>
    </p>

    <p>
      <b>Date:</b>
      {{ selectedProject?.createdAt | date:'dd/MM/yyyy, hh:mm:ss a' }}
    </p>

  </div>

</div>
</div>
