<div class="dashboard-container">

<!-- Side bar -->
<div class="sidebar" [class.open]="isSidebarOpen">

  <!-- ROLE DISPLAY -->
  <h2 class="logo">{{ role | uppercase }}</h2>

  <ul>

    <!-- MENU BASED ON ROLE-->
    <li
      *ngFor="let item of menuItems"
      (click)="setView(item.view)"
      [class.active]="activeView === item.view">

      <span class="material-icons">{{ item.icon }}</span>
      <span>{{ item.label }}</span>

    </li>

  </ul>
</div>

<!-- Overlay -->
<div class="overlay"
     *ngIf="isSidebarOpen"
     (click)="closeSidebar()">
</div>

<!-- MAIN -->
<div class="main">

  <!-- HEADER -->
  <div class="header">

    <button class="menu-btn" (click)="toggleSidebar()">☰</button>

    <h2 *ngIf="activeView === 'dashboard'">Dashboard Overview</h2>
    <h2 *ngIf="activeView === 'employees'">Employee Management</h2>
    <h2 *ngIf="activeView === 'projects'">Project Management</h2>
    <h2 *ngIf="activeView === 'tasks'">Task Management</h2>
    <h2 *ngIf="activeView === 'leave'">Leave Management</h2>

    <button class="logout-btn" (click)="logout()">Logout</button>

  </div>

  <!-- DASHBOARD VIEW -->
  <div *ngIf="activeView === 'dashboard'">
    <div class="cards">

      <div class="card">
        <p><b>Total Employees</b></p>
<h3>{{ totalEmployees }}</h3>
      </div>

      <div class="card">
        <p><b>In Progress Projects</b></p>
      <h3>{{ inprogressProjects }}</h3>

    </div>

     <div class="card">
        <p><b>In Progress Tasks</b></p>
              <h3>{{ inprogressTasks }}</h3>

      </div>

      <div class="card">
        <p><b>Pending Tasks</b></p>
              <h3>{{ pendingTasks }}</h3>

      </div>
   
      <div class="card">
  <p><b>Pending Projects</b><p></p>
  <h3>{{ pendingProjects }}</h3>
</div>
      <div class="card">
        <p><b>Leave Requests</b></p>
              <h3>{{ leaveRequests }}</h3>

      </div>

   

      <div class="card">
        <p><b>Project Completed</b></p>
      <h3>{{ completedProjects }}</h3>
      </div>
<div class="card">
        <p><b>task Completed</b></p>
      <h3>{{ completedTasks }}</h3>
      </div>
    </div>

    <div class="charts">

  <div class="chart-box">
    <h3>Tasks</h3>
     <div class="chart-wrapper">
    <canvas #taskChart></canvas>
  </div>
  </div>

  <div class="chart-box">
    <h3>Projects</h3>
         <div class="chart-wrapper">
    <canvas #projectChart></canvas>
  </div>
  </div>

  <div class="chart-box">
    <h3>Leaves</h3>
         <div class="chart-wrapper">
    <canvas #leaveChart></canvas>
  </div>
  </div>

</div>
  </div>

  <!-- EMPLOYEE VIEW -->
  <div *ngIf="activeView === 'employees'">
    <app-employee-list></app-employee-list>
  </div>

  <!-- PROJECTS VIEW -->
  <div *ngIf="activeView === 'projects'">
    <app-projects></app-projects>
  </div>

  <!-- TASKS VIEW -->
  <div *ngIf="activeView === 'tasks'">
    <app-task-list></app-task-list>
  </div>

  <!-- LEAVE VIEW -->
<div *ngIf="activeView === 'leave'">
  <app-leave-list></app-leave-list>
</div>

</div>
</div>

