<mat-horizontal-stepper linear #stepper>

  <!-- STEP 1  -->
  <mat-step [editable]="true">
    <ng-template matStepLabel>Verify Employee</ng-template>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Employee ID</mat-label>
      <input matInput [(ngModel)]="userId">
    </mat-form-field>

    <button mat-raised-button color="primary"
            (click)="sendOtp(stepper)">
      Send OTP
    </button>

  </mat-step>

  <!-- STEP 2  -->
  <mat-step [editable]="false">
    <ng-template matStepLabel>Verify OTP</ng-template>

    <p>Enter 6-digit OTP</p>

  <div class="otp-boxes">

  <input
    *ngFor="let ctrl of otpArray.controls; let i = index"
    [formControl]="ctrl"
    maxlength="1"
    (input)="handleOtpInput($event, i)"
    (keydown.backspace)="handleBackspace($event, i)"
    (paste)="onPaste($event)"
  />

</div>
    <p *ngIf="!canResend">Resend OTP in {{ timer }}s</p>

    <button mat-button *ngIf="canResend" (click)="sendOtp(stepper)">
      Resend OTP
    </button>

    <button mat-raised-button color="primary"
            (click)="verifyOtp(stepper)">
      Verify OTP
    </button>

  </mat-step>

  <!--STEP 3 -->
  <mat-step>
    <ng-template matStepLabel>Reset Password</ng-template>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>New Password</mat-label>
      <input matInput type="password" [(ngModel)]="newPassword">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" [(ngModel)]="confirmPassword">
    </mat-form-field>

    <button mat-raised-button color="accent"
            (click)="resetPassword()">
      Reset Password
    </button>

  </mat-step>

</mat-horizontal-stepper>





